/*CSS reset*/
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Alata', sans-serif;
}
/*setting root variables*/
:root {
    --main-bg-img: url('../images/bg01.jpg');
    --text-color: rgb(230, 225, 225);
    --nav-bg-color: #1c262f;
    --about-bg-color:  #d4cbcb;
}
/*implementing smooth scroll*/
html {
    scroll-behavior: smooth;
}
/*Header and Navigation*/
.header {
    background: var(--nav-bg-color);
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    
}
.logo {
    color: var(--text-color);
    width: 70px;
    height: 60px;
    margin-top: 0.3em;
    margin-left: 0.5em;
}
.nav-links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.nav-links li {
    align-items: center;
    justify-items: center;
    padding: 1em;
    margin: 0.2em;
    margin-left: 0.3;
    transition: all 0.3s ease 0s;
}
.nav-links li:hover {
    border: 1px solid var(--text-color);
    border-radius: 5px;
    font-size: 18px;
}
.nav-links > li a {
    text-decoration: none;
    color: var(--text-color);
}
.btn-contact {
    margin: 1em;
    padding: 1em;
    margin-top: 0.5em;
    transition: all 0.3s ease 0s;
    border: none;
    border-radius: 10px;
}
.btn-contact:hover {
    border: 1px solid var(--text-color);
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #00080f;
    color: var(--text-color);
    border-radius: 10px;
}
/*profile intro section*/
.profile-intro {
    background: #171c20;
    background-size: cover;
    opacity: 0.9;
    max-width: 100%;
    color: var(--text-color);
    display: grid;
    place-items: center;
    padding: 10%;
}
.profile-img {
    margin-top: 2em;
    width: 200px;
    height: 200px;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: width 2s, height 2s, transform 2s;
}
.profile-img:hover {
    width: 230px;
    height: 230px;
    border: 1px solid #fff;
    border-radius: 50%;

}
.profile-intro h1 {
    font-size: 60px;
}
.profile-intro h3 {
    font-size: 40px;
}
/*About section*/


.about {
    background: var(--about-bg-color); 
}
.about-heading {
    text-decoration: underline;
    font-size: 32px;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 2%;
    font-family: 'roboto', sans-serif;
}
.about-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 5%;
}
.about-text {
    background-color: #fff;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 20px;  
}
.about-text a button {
    margin-top: 20px;
    padding: 0.5em;
    font-size: 18px;
    float: right;
    background-color: transparent;
    border: 1px solid #171c20;
}
.about-text h2, .about-skill h2 {
    font-family: 'roboto', sans-serif;
    text-decoration: underline;
    padding-bottom: 10px;
}
.about-skill {
    background-color: #fff;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 20px;  
}
.about-skill h2 {
    text-align: right;
}
.about-skill p {
    display: flex;
    justify-content: space-between;
}

/*footer*/
.footer {
    max-width: 100%;
    background-color: var(--nav-bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
}
.footer > section {
    padding: 1em;
}
.footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10%;
}
.footer-container > div a img {
    margin-top: 1em;
    width: 30px;
    height: 30px;
}
#email {
    padding: 5px;
}
#submit {
    padding: 5px;
}



